---
title: About
keywords: 'ElissaAron, elissa, aron, actor, singer, stage, screen, NYU, musical theater, theater, Stonestreet Studios, TV, television, movies, actress, Los Angeles, New York, CA, NY, videos, photos, headshots, dramatic, drama, emotion, mean girl, mean girls, williamstown theatre festival'
description: 'Elissa Aron: Professional Los Angeles based actor and singer with experience on the stage and on the screen.'
level: ../
---
<section>
  <article class="col-xs-offset-4 col-sm-offset-4 text-right">
    <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-purple3.jpg" alt="Elissa Aron Purple Photo 3" />
    <h1><strong>About</strong></h1>
    <h3>Elissa Aron is an actress and singer, and is currently living in New York City.</h3>
    <p>Although she calls the Sunshine State her hometown, Elissa has been raised all over the United States, and has lived abroad several times.  Being the daughter of a cellist, Elissa grew up understanding the importance of music and uses music as a foundation in her work.  She also has a sharp sense of humor which she developed growing up the middle child in a very loud family, where she used her wit to get attention and to construct lots of quick comebacks.</p>
    <p>Now a college graduate, Elissa still loves getting attention!  Elissa graduated from NYU in 2012, where she studied musical theater at CAP21 and screen acting at Stonestreet Studios.  She loves everything New York City has to offer, although she would be thankful for sunnier weather!</p>
    <p>Thanks for stopping by!</p>
    <p>See more at:</p>
    <p><a href="http://about.me/elissaaron">http://about.me/elissaaron</a></p>
    <p><a href="http://www.imdb.me/elissaaron">http://www.imdb.me/elissaaron</a></p>
  </article>
  <aside class="filmstrip-holder">
    <img src="<%= @item[:level] %>images/elissa-aron-white3.jpg" alt="Elissa Aron Yellow Photo 1" />
    <img src="<%= @item[:level] %>images/elissa-aron-jacket2.jpg" alt="Elissa Aron Jacket Photo 2" />
    <img src="<%= @item[:level] %>images/elissa-aron-yellow2.jpg" alt="Elissa Aron Blue Photo" />
    <img class="visible-xxs visible-xs" src="<%= @item[:level] %>images/elissa-aron-black2.jpg" alt="Elissa Aron Black Photo 2" />
    <img class="visible-xxs" src="<%= @item[:level] %>images/elissa-aron-white1.jpg" alt="Elissa Aron Yellow Photo 1" />
    <img class="visible-xxs" src="<%= @item[:level] %>images/elissa-aron-jacket1.jpg" alt="Elissa Aron Jacket Photo 2" />
    <img class="visible-xxs" src="<%= @item[:level] %>images/elissa-aron-blue.jpg" alt="Elissa Aron Blue Photo" />
    <div class="filmstrip-holder2">
      <img src="<%= @item[:level] %>images/elissa-aron-white3.jpg" alt="Elissa Aron Yellow Photo 1" />
      <img src="<%= @item[:level] %>images/elissa-aron-jacket2.jpg" alt="Elissa Aron Jacket Photo 2" />
      <img src="<%= @item[:level] %>images/elissa-aron-yellow2.jpg" alt="Elissa Aron Blue Photo" />
      <img class="visible-xxs visible-xs" src="<%= @item[:level] %>images/elissa-aron-black2.jpg" alt="Elissa Aron Black Photo 2" />
      <img class="visible-xxs" src="<%= @item[:level] %>images/elissa-aron-white1.jpg" alt="Elissa Aron Yellow Photo 1" />
      <img class="visible-xxs" src="<%= @item[:level] %>images/elissa-aron-jacket1.jpg" alt="Elissa Aron Jacket Photo 2" />
      <img class="visible-xxs" src="<%= @item[:level] %>images/elissa-aron-blue.jpg" alt="Elissa Aron Blue Photo" />
      <div class="filmstrip-sides visible-xs visible-sm visible-md visible-lg"></div>
    </div>
    <div class="filmstrip-sides visible-xs visible-sm visible-md visible-lg"></div>
  </aside>
</section>
