---
title: Welcome
keywords: 'ElissaAron, elissa, aron, actor, singer, stage, screen, NYU, musical theater, theater, Stonestreet Studios, TV, television, movies, actress, Los Angeles, New York, CA, NY, videos, photos, headshots, dramatic, drama, emotion, mean girl, mean girls, williamstown theatre festival'
description: 'Elissa Aron: Professional Los Angeles based actor and singer with experience on the stage and on the screen.'
---
<section>
  <article class="col-xs-offset-4 col-sm-offset-4 text-right">
    <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-orange3.jpg" alt="Elissa Aron Orange Photo 3" />
    <h1><strong>Welcome</strong></h1>
    <p>Welcome and thanks for visiting! Elissa is a Los Angeles based actor and singer with experience on the stage and on the screen.</p>
    <p>Thanks for stopping by!</p>
    <p>For Professional inquiries please contact:</p>
    <strong>
    <p>Across the Board Talent Agency</p>
    <p>NY: 917.397.0282</p>
    <p>LA: 323.761.0282</p>
    </strong>
    <p>If you are Joseph Gorden-Levitt feel free to call me personally or e-mail me at <span class="email"><a href="mailto:<%= @site.config[:email] %>?subject=Hello There"><%= @site.config[:email] %></a></span></p>
  </article>


  <aside class="filmstrip-holder">
    <img src="<%= @item[:level] %>images/elissa-aron-purple2.jpg" alt="Elissa Aron Purple Photo 2" />
    <img src="<%= @item[:level] %>images/elissa-aron-jacket1.jpg" alt="Elissa Aron Jacket Photo 1" />
    <img src="<%= @item[:level] %>images/elissa-aron-orange2.jpg" alt="Elissa Aron Orange Photo 2" />
    <img src="<%= @item[:level] %>images/elissa-aron-purple1.jpg" alt="Elissa Aron Purple Photo 1" />
    <img src="<%= @item[:level] %>images/elissa-aron-jacket1.jpg" alt="Elissa Aron Jacket Photo 1" />
    <img src="<%= @item[:level] %>images/elissa-aron-orange2.jpg" alt="Elissa Aron Orange Photo 2" />
    <div class="filmstrip-holder2">
        <img src="<%= @item[:level] %>images/elissa-aron-purple2.jpg" alt="Elissa Aron Purple Photo 2" />
        <img src="<%= @item[:level] %>images/elissa-aron-jacket1.jpg" alt="Elissa Aron Jacket Photo 1" />
        <img src="<%= @item[:level] %>images/elissa-aron-orange2.jpg" alt="Elissa Aron Orange Photo 2" />
        <img src="<%= @item[:level] %>images/elissa-aron-purple1.jpg" alt="Elissa Aron Purple Photo 1" />
        <img src="<%= @item[:level] %>images/elissa-aron-jacket1.jpg" alt="Elissa Aron Jacket Photo 1" />
        <img src="<%= @item[:level] %>images/elissa-aron-orange2.jpg" alt="Elissa Aron Orange Photo 2" />
        <div class="filmstrip-sides visible-xs visible-sm visible-md visible-lg"></div>
    </div>
<!--     <img class="visible-xxs" src="<%= @item[:level] %>images/elissa-aron-orange1.jpg" alt="Elissa Aron Orange Photo 1" /> -->
    <div class="filmstrip-sides visible-xs visible-sm visible-md visible-lg"></div>
  </aside>
</section>
