---
title: Photos
keywords: 'ElissaAron, elissa, aron, actor, singer, stage, screen, NYU, musical theater, theater, Stonestreet Studios, TV, television, movies, actress, Los Angeles, New York, CA, NY, videos, photos, headshots, dramatic, drama, emotion, mean girl, mean girls, williamstown theatre festival'
description: 'Elissa Aron: Professional Los Angeles based actor and singer with experience on the stage and on the screen.'
level: ../
---
<!-- <section>
  <article>
    <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-orange1.jpg" alt="Elissa Aron Orange Photo 1" />
    <h1>Photos</h1>
  </article>
  <aside>
    <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-purple3.jpg" alt="Elissa Aron Purple Photo 3" />
    <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-jacket1.jpg" alt="Elissa Aron Jacket Photo 1" />
    <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-orange2.jpg" alt="Elissa Aron Orange Photo 2" />
    <img class="img-responsive visible-xxs" src="<%= @item[:level] %>images/elissa-aron-purple2.jpg" alt="Elissa Aron Purple Photo 2" />
  </aside>
</section> -->
<section>
  <div class="video-content">
    <h1><strong>Headshots</strong></h1>
    <button class="video-thumbnail photos-headshots">
      <img class="img-responsive photograph3" src="<%= @item[:level] %>images/elissa-aron-adorable.jpg" alt="Headshots Photos"/>
      <div class="play-button"></div>
    </button>
  </div>
</section>
<!-- <section>
  <div class="video-content">
    <h3><strong>Williamstown Theatre Festival</strong></h3>
    <button class="video-thumbnail photos-williamstown">
      <img class="img-responsive" src="http://img.youtube.com/vi/01O10YjaVAY/0.jpg" alt="An Experiment In Emotion Youtube Video" />
      <div class="play-button"></div>
    </button>
  </div>
</section> -->
