---
title: Resume
keywords: 'ElissaAron, elissa, aron, actor, singer, stage, screen, NYU, musical theater, theater, Stonestreet Studios, TV, television, movies, actress, Los Angeles, New York, CA, NY, videos, photos, headshots, dramatic, drama, emotion, mean girl, mean girls, williamstown theatre festival'
description: 'Elissa Aron: Professional Los Angeles based actor and singer with experience on the stage and on the screen.'
level: ../
---
<section>
  <aside>
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-orange1.jpg" alt="Elissa Aron Orange Photo 1" /> -->
    <h1><strong>Elissa Aron</strong></h1>
    <h4><strong>SAG-E</strong></h4>
    <p>954.648.4040 ElissaAron@hotmail.com</p>
  </aside>
  <div class="resume-header">
   <!--  <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-purple1.jpg" alt="Elissa Aron Purple Photo 1" />
    <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-jacket1.jpg" alt="Elissa Aron Jacket Photo 1" /> -->
    <img class="img-responsive photograph" src="<%= @item[:level] %>images/elissa-aron-yellow6.jpg" alt="Elissa Aron Orange Photo 2" />
    <!-- <img class="img-responsive visible-xxs" src="<%= @item[:level] %>images/elissa-aron-purple2.jpg" alt="Elissa Aron Purple Photo 2" /> -->
  <!--   <img class="img-responsive visible-xxs" src="<%= @item[:level] %>images/elissa-aron-orange3.jpg" alt="Elissa Aron Orange Photo 3" /> -->
  </div>
  <div class="resume-header hidden-xs">
   <!--  <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-purple1.jpg" alt="Elissa Aron Purple Photo 1" />
    <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-jacket1.jpg" alt="Elissa Aron Jacket Photo 1" /> -->
    <img class="img-responsive photograph2" src="<%= @item[:level] %>images/elissa-aron-blue.jpg" alt="Elissa Aron Orange Photo 2" />
    <!-- <img class="img-responsive visible-xxs" src="<%= @item[:level] %>images/elissa-aron-purple2.jpg" alt="Elissa Aron Purple Photo 2" /> -->
  <!--   <img class="img-responsive visible-xxs" src="<%= @item[:level] %>images/elissa-aron-orange3.jpg" alt="Elissa Aron Orange Photo 3" /> -->
  </div>
</section>
<section>
  <div class="resume-content">
    <h3><strong>Film</strong></h3>
    <ul>
      <li>Places Where We Lived : <em>Supporting - Bernardo Britto/SXSW</em></li>
      <li>A Certified Man : <em>Lead - Jack Gattanella/New Filmmakers NY</em></li>
      <li>Summer’s Gone : <em>Lead - Sido Yao Lu</em></li>
      <li>The First Days : <em>Lead - Geraldine Inoa</em></li>
      <li>The Couch : <em>Supporting - Dana Mileguir</em></li>
      <li>Silent Chauffeurs : <em>Lead - Michael Crommett</em></li>
    </ul>
    <h3><strong>New Media</strong></h3>
    <ul>
      <li>Paragraph 18 : <em>Lead - Bornilla Chatterjee</em></li>
      <li>Total Eclipse : <em>Lead - Chris Modoono</em></li>
      <li>Cinder : <em>Supporting - Mike Yuen</em></li>
      <li>Lewis Black Drama Queen : <em>Costar - Adam Bernstein</em></li>
    </ul>
    <h3><strong>Theatre</strong></h3>
    <ul>
      <li>Three Guys and a Brenda : <em>Brenda - Workshop, Williamstown Theatre Festival</em></li>
      <li>Late Night Cabaret Series : <em>Featured Ens. - Williamstown Theatre Festival</em></li>
      <li>SitStandWalkLieDown : <em>Performer - Workshop, Williamstown Theatre Festival</em></li>
      <li>Chronicles Simpkins : <em>Jessica - Workshop, Williamstown Theatre Festival</em></li>
      <li>Chautauqua! : <em>Soloist - Under the Radar, The Public Theater</em></li>
      <li>The Boychick Affair : <em>Soraii - Comix</em></li>
      <li>How We Love : <em>Alison - NYU/Playwrights Horizons</em></li>
      <li>Peace of Mind : <em>Candy - Parker Playhouse/Tysen & Miller</em></li>
      <li>Songs for a New World : <em>Woman 1 - FL Mainstage State Thespian</em></li>
      <li>Grease : <em>Sandy - Performance Project</em></li>
    </ul>
    <h3><strong>Training</strong></h3>
    <ul>
      <li><strong>New York University, Tisch, B.F.A. Drama</strong> - <em>CAP21 & Stonestreet Film Studios, 2012</em></li>
      <li>Williamstown Theatre Festival - <em>Apprentice</em></li>
      <li>Circle in the Square</li>
      <li>Interlochen Center for the Performing Arts</li>
      <li><strong>Acting:</strong> <em>Sheila Gray, Scott Freeman, Kate Guyton, Larry Arancio, Aimee Francis, LeRoy Rogers, Sybil Lines, Alan Langdon, Terese Hayden, Ken Schatz, Erin Ortman</em></li>
      <li><strong>On-Camera:</strong> <em>Ted Sluberski, Gary Bennett, Zach Galligan</em></li>
      <li><strong>Voice-over:</strong> <em>Andy Roth</em></li>
      <li><strong>Improv:</strong> <em>Neil W. Casey, Ryan Karels, Ben Rodgers (UCB), Winston Noel (UCB), Elena Garcia</em></li>
      <li><strong>Voice:</strong> <em>Aaron Hagan, Dr. Pamelia Phillips, Randy Redd, Bill Daugherty, Bill Reed, Jan Horvath</em></li>
      <li><strong>Dance:</strong> <em>Modern (int.), Hip Hop (int.), Jazz (int.), Ballet (int.), Tap (beg/int.), African</em></li>
    </ul>
    <h3><strong>Special Skills</strong></h3>
    <p>
      Soprano/Mix/Belt, ukulele, Ke$ha inspired rap, upper body contortionist, improv, interactive theater,  various vocal styles, Viewpoints, Shakespearean verse, songwriter, excellent relative pitch/sight singer, basic piano/guitar, figure skater, horseback rider, backbend, great with kids, valid drivers license and US passport
    </p>
  </div>
</section>
