---
title: Videos
keywords: 'ElissaAron, elissa, aron, actor, singer, stage, screen, NYU, musical theater, theater, Stonestreet Studios, TV, television, movies, actress, Los Angeles, New York, CA, NY, videos, photos, headshots, dramatic, drama, emotion, mean girl, mean girls, williamstown theatre festival'
description: 'Elissa Aron: Professional Los Angeles based actor and singer with experience on the stage and on the screen.'
level: ../
---
<section>
  <aside>
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-orange1.jpg" alt="Elissa Aron Orange Photo 1" /> -->
    <h1 class="no-bottom-margin"><strong>Videos</strong></h1>
  </aside>
  <article>
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-purple2.jpg" alt="Elissa Aron Purple Photo 2" /> -->
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-jacket1.jpg" alt="Elissa Aron Jacket Photo 1" /> -->
    <!-- <img class="img-responsive" src="<%= @item[:level] %>images/elissa-aron-orange2.jpg" alt="Elissa Aron Orange Photo 2" />
    <img class="img-responsive visible-xxs" src="<%= @item[:level] %>images/elissa-aron-purple3.jpg" alt="Elissa Aron Purple Photo 3" /> -->
  <!--   <img class="img-responsive visible-xxs" src="<%= @item[:level] %>images/elissa-aron-orange3.jpg" alt="Elissa Aron Orange Photo 3" /> -->
  </article>
</section>
<section>
  <div class="video-content text-center">
    <h3 class="neg-bottom-margin"><strong>Dramatic Street Scene</strong></h3>
    <button class="video-thumbnail video-clips1">
      <img class="img-responsive" src="http://img.youtube.com/vi/c-AekgYA8Zk/0.jpg" alt="Dramatic Street Scene Youtube Video" />
      <div class="play-button"></div>
    </button>
  </div>
</section>
<section>
  <div class="video-content text-center">
    <h3 class="neg-bottom-margin"><strong>An Experiment In Emotion</strong></h3>
    <h4 class="no-bottom-margin no-top-margin"><em>in the same vein as <a href="http://www.nytimes.com/interactive/2010/12/12/magazine/14actors.html#index">14 Actors Acting</a> and <a href="http://www.imdb.com/title/tt1655442/">The Artist</a></em></h4>
    <button class="video-thumbnail video-clips2">
      <img class="img-responsive" src="http://img.youtube.com/vi/01O10YjaVAY/0.jpg" alt="An Experiment In Emotion Youtube Video" />
      <div class="play-button"></div>
    </button>
  </div>
</section>
<section>
  <div class="video-content text-center">
    <h3 class="neg-bottom-margin"><strong>Mean Girl Clip</strong></h3>
    <button class="video-thumbnail video-clips3">
      <img class="img-responsive" src="http://img.youtube.com/vi/gjrHo9wGah0/0.jpg" alt="Mean Girl Clip Youtube Video" />
      <div class="play-button"></div>
    </button>
  </div>
</section>
